
<script type='text/javascript'>
  jQuery(function() {
    $('div.chosentree').chosentree({
      width: 500,
      deepLoad: true,
      showtree: true,
      load: function(node, callback) {
        setTimeout(function() {
          callback(loadChildren(node, 0));
        }, 1000);
      }
    });
  });
</script>
<div class="chosentree"></div>
<h2>Usage</h2>
<pre><code>
&lt;script type='text/javascript'&gt;
  jQuery(function() {
    $('div.chosentree').chosentree({
      width: 500,
      deepLoad: true,
      load: function(node, callback) {
        /**
         * This would typically call jQuery.ajax to load a new node
         * on your server where you would return the tree structure
         * for the provided node.
         */
      }
    });
  });
&lt;/script&gt;
&lt;div class="chosentree"&gt;&lt;/div&gt;
</code></pre>